@font-face {
  font-family:druk;
  src: url(../Fonts/da67291a80319ca161510e6d13756823.ttf);
}

.canvas-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; 
    z-index: 20;
    background-color: #15151A;
  }
  
  .full-screen-canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -20vh;
  }
  
  .carDets{
    font-family: druk;
  }
  .carName{
    font-family: druk;

  }