.gallery {
    min-height: 100vh; /* Ensure it's at least full-screen height */
    position: relative;
  }
  
  .mainBlock {
    height: auto; /* Make sure the block adapts to the content */
  }
  
  #main{
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 1180px;
    
  }