@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "druk";
    src: local("druk"),
      url("./Fonts/da67291a80319ca161510e6d13756823.ttf") format("opentype");
    font-weight: normal;
  }


  
#play{
    font-family: monument;
    color:white;
    font-weight: 800;
    font-size: 4vw;
    /* margin-bottom: 3vw; */

}

/* This is css of right side part of CarDetailPage  */
.rightpartCardetail {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
